@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #222;
  --color-white: #fff;
  --color-black: #000;
  --color-dark: rgb(5, 15, 26);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: var(--color-white);
  background: linear-gradient(
    149deg,
    var(--color-black) 0%,
    var(--color-dark) 50%,
    var(--color-dark) 100%
  );
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0.25em;
}

/* Track */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: #888;
}

a {
  transition: all, ease, 0.5s;
}

.bg-blur-wrap {
  transition: all 1.5s ease;
}

.bg-blur-wrap.blur {
  filter: blur(3px);
  transition: all 1.5s ease;
}

.btn-outline {
  border-radius: 8px;
  padding: 0.75em 1.5em;
  border: 1px solid var(--color-white);
}

.btn-outline:hover {
  border: 1px solid transparent;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100vh;
  background-color: var(--color-white);
  padding: 5rem 3.5rem 3.5rem 2em;
  position: fixed;
  z-index: 9;
  top: 0;
  right: -1.5rem;
  opacity: 0;
}

.bg-home-content-gradient {
  min-height: 100vh;
}
.bg-home-content-gradient:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: radial-gradient(
    211.50000000000003% 113.1% at -66.4% 35.9%,
    #0b014a 39.13195153221485%,
    rgb(0, 73, 184) 51.424349881796694%,
    rgb(50, 100, 227) 67.59505338573997%,
    rgb(0, 204, 255) 77.36876020980384%,
    rgb(110, 255, 211) 90%,
    rgb(236, 241, 56) 100%
  );
  inset: 108px 0 0;
}

.bg-home-black-gradiednt {
  background: linear-gradient(
    180deg,
    #000000 0%,
    #000000 108px,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
  inset: 0 0 1535px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.bg-home-corner-black-container {
  flex: none;
  height: 648px;
  pointer-events: none;
  position: absolute;
  right: -432px;
  top: -97px;
  transform: rotate(45deg);
  width: 1305px;
  z-index: 8;
}

.bg-home-corner-black {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.03) 11.872%,
    rgba(0, 0, 0, 0.1) 22.496%,
    rgba(0, 0, 0, 0.22) 32.184%,
    rgba(0, 0, 0, 0.35) 41.248%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.65) 58.752%,
    rgba(0, 0, 0, 0.78) 67.816%,
    rgba(0, 0, 0, 0.9) 77.504%,
    rgba(0, 0, 0, 0.97) 88.128%,
    rgb(0, 0, 0) 100%
  );
}

.bg-home-content {
  position: relative;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.logos-wrapper {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 25%,
    rgb(0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
  opacity: 0.5;
  transition: all, ease, 1s;
}

.logos-wrapper:hover {
  opacity: 0.9;
}

.logos-infiite-animation {
  animation: infinite-scroll 30s linear infinite;
}

.rotate {
  animation: rotation 18s infinite linear;
}

.mail:hover .mail-icon {
  animation: shake 0.6s infinite;
  backface-visibility: hidden;
  transform-origin: top right;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  transform-origin: top;
}

.curved-wave .background svg,
.curved-wave .background {
  position: fixed;
  height: calc(100vh + 600px);
  width: 100vw;
  pointer-events: none;
  left: 0;
  top: 0;
}

.curved-wave .background {
  background-color: black;
  transition: opacity 0s linear 0.1s;
}

.curved-wave .route {
  position: absolute;
  left: 50%;
  top: 40%;
  color: white;
  font-size: 46px;
  z-index: 3;
  transform: translateX(-50%);
  text-align: center;
}

footer {
  background: linear-gradient(rgb(5, 15, 26) 0%, rgb(0, 20, 61) 100%);
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
    transform: translate(2px, -1px) rotate(2deg);
  }
  100% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
}

@media (max-width: 640px) {
  .mobile-menu {
    width: 75%;
  }

  .mail-container {
    min-height: 15rem;
  }
}
